@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .drop-button-shadow {
        text-shadow: 0px 0px 13px rgba(234, 0, 217, 1);
    }
    .gradient-navbar {
        background-image: linear-gradient(to bottom, rgba(9, 24, 51, 1) 95%, transparent);
    }
    .animation-delay-25 {
        animation-delay: 0.25s
    }
    .animation-delay-50 {
        animation-delay: 0.50s
    }
    .animation-delay-75 {
        animation-delay: 0.75s
    }
    .animation-delay-100 {
        animation-delay: 1s
    }
    .animation-delay-125 {
        animation-delay: 1.25s
    }
    .animation-delay-150 {
        animation-delay: 1.5s
    }
    .animation-delay-175 {
        animation-delay: 1.75s
    }
    .animation-delay-200 {
        animation-delay: 2s
    }
    .animation-delay-225 {
        animation-delay: 2.25s
    }
    .text-shadow-0 {
        text-shadow: 0px 0px 10px rgba(234, 0, 217, 1), 0px 0px 30px rgba(246,81,213), 0px 0px 50px rgba(246,81,213);
    }
    .text-shadow-1 {
        text-shadow: 0px 0px 10px #4fc3dc44, 0px 0px 30px #4fc3dc, 0px 0px 50px #4fc3dc;
    }
    .animation-duration-11 {
        animation-duration : calc(125s / 11)
    }
    .animation-duration-24 {
        animation-duration : calc(125s / 24)
    }
    .animation-duration-12 {
        animation-duration : calc(125s / 12)
    }
    .animation-duration-10 {
        animation-duration : calc(125s / 10)
    }
    .animation-duration-14 {
        animation-duration : calc(125s / 14)
    }
    .animation-duration-23 {
        animation-duration : calc(125s / 23)
    }
    .animation-duration-18 {
        animation-duration : calc(125s / 18)
    }
    .animation-duration-16 {
        animation-duration : calc(125s / 16)
    }
    .animation-duration-19 {
        animation-duration : calc(125s / 19)
    }
    .animation-duration-20 {
        animation-duration : calc(125s / 20)
    }
    .animation-duration-22 {
        animation-duration : calc(125s / 22)
    }
    .animation-duration-25 {
        animation-duration : calc(125s / 25)
    }
    .animation-duration-18 {
        animation-duration : calc(125s / 18)
    }
    .animation-duration-21 {
        animation-duration : calc(125s / 21)
    }
    .animation-duration-15 {
        animation-duration : calc(125s / 15)
    }
    .animation-duration-13 {
        animation-duration : calc(125s / 13)
    }
    .animation-duration-26 {
        animation-duration : calc(125s / 26)
    }
    .animation-duration-13 {
        animation-duration : calc(125s / 13)
    }
    .animation-duration-28 {
        animation-duration : calc(125s / 28)
    }
    /* HTML: <div class="custom-loader"></div> */
    .custom-loader {
        width: 25px;
        height: 25px;
        display: grid;
        color: white;
        background: radial-gradient(farthest-side, currentColor calc(100% - 3px),#0000 calc(100% - 2.5px) 0);
        -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 6.5px),#000 calc(100% - 6px));
        border-radius: 50%;
      }
      .custom-loader::before,
      .custom-loader::after {    
        content:"";
        grid-area: 1/1;
        background:
          linear-gradient(currentColor 0 0) center,
          linear-gradient(currentColor 0 0) center;
        background-size: 100% 5px,5px 100%;
        background-repeat: no-repeat;
      }
      .custom-loader::after {
         transform: rotate(45deg);
      }
}

@layer components {
    .nav-menu {
        @apply text-2xl text-slate-500 hover:text-light-blue font-pixel md:mx-3 hover:drop-button-shadow duration-500;
    }
    .backround-home-0 {
        @apply text-pink font-pixel text-5xl md:text-6xl font-black text-shadow-0 animate-backround-home relative m-1;
    }
    .backround-home-1 {
        @apply text-light-blue font-pixel text-5xl md:text-6xl font-black text-shadow-1 animate-backround-home relative m-1;
    }
    .active {
        @apply drop-button-shadow text-light-blue   
    }
}